@import url('http://fonts.cdnfonts.com/css/gotham-rounded-medium');

:root{
	font-family: 'gotham rounded light';
	color: var(--color-text-light)

}

body{
	background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));

}


fieldset{
	border: none;
}

ul {
	list-style-type: none;
}

label{
	margin-bottom: 5px;
	text-align:center;
}
 .cbox{
	 margin-left: 3.125rem;
 }


      .btn {
	border: 1px solid;
	border-radius: 4px;
	padding:.5rem 1rem;
	font-size: 1.2rem;
	font-family: 'gotham rounded medium';
	cursor:pointer;
	text-decoration: none;
	text-align: center;
	color: var(--color-btn-txt);
	background-color: var(--color-btn-bg);
	border: 1px solid black;
	
}

      .btn:hover{
	background-color:var(--color-btn-bg-hover);
	font: var(--color-btn-txt-hover);
	border-radius: 4px;
	padding:.5rem 1rem;
	font-size: 1.2rem;
	border: 2px solid black;
}

.checkbox-container {   
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;	
}

.checkbox-label {
	 display:flex;
	 flex-direction:center;
	 font-family:Verdana, Geneva, Tahoma, sans-serif;
	 font-size: 20px;
	 justify-content: center;
	 margin-top: 20px;
 }
}

.cbox {
	 margin-left: 3.125rem;
 }

 .radio-container {
	 display:flex;
	 flex-direction: row;
	 justify-content: center;
 }

 .radio-btn {
	 margin-left:3.125rem;
 }

 .radio-label {
	 display:flex;
	 flex-direction:center;
	 font-family:Verdana, Geneva, Tahoma, sans-serif;
	 font-size: 20px;
	 justify-content: center;
 }